<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
</head>
{% block body%}
<body>


<h1>HOME PAGE - FakePinterest</h1>

{% block form %}
<form action="" method="POST">
    {{ form.csrf_token }}

    {{ form.email.label() }}
    {{ form.email() }}

    {{ form.senha.label() }}
    {{ form.senha() }}

    {{ form.botaoLogin() }}

</form>
{% endblock %}

</body>
{% endblock %}
</html>